*{
    padding: 0px;
    margin: 0px;   
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color:rgba(107, 227, 107, 0.296);
   
}
.cab_nav{
    width: 100%;
    padding: 20px;
    text-align: right;
    position: fixed;
    top: 0px;
}
.cab_nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    color: rgb(7, 245, 67);
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
.cab_nav ul li a{
    text-decoration: none;
color: rgb(14, 13, 13);
}
.nomb_logo{
    width: 330px;
    padding: 0px 20px;
    float: left;
    position: relative;
    top: 5%;
    left: 2%;
    color: rgba(221, 6, 6, 0.879);
    font-size: 30px;
}
.logo_img{
width: 70px;
position: absolute;
transform: translateX(-1220px) translateY(-15px);
}
.contenedor{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    padding: 120px 10px;
    border: solid;
    background-color: #ff7700;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cb1414' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23a71f1f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d12034' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ae202e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d73459' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b42d4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d12d72' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0557' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c43791' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a03177' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a81ba8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23892789' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    
}
.titulo_cont{
    font-size: 40px;
    text-align: center;
    padding: 20px 10px;
    color: aqua;
}
.parrafo_cont{
    font-size: 20px;
    text-align: justify;
    color: rgb(33, 240, 14);

}

.video{
    position: fixed;
    min-width: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
    z-index: -1;

}

.foot{ 
    background-color:rgba(68, 0, 228, 0.915);
    margin-top: 43%;
    width: 100%;
    padding: 10px 0px;
    position: relative;
}
.foot_p{
    color: #fff;
    text-align: center;
}
.marca{
    background-color: #487346;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}
    